Shares Brokering Client/src/META-INF/wsdl/localhost_8080/SharesBrokeringSystem/SharesBrokeringSystem.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="tradeList" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="tradeList">

<xs:element name="current_trades">
<xs:complexType>
<xs:sequence>
<xs:element name="trade_list" type="tns:Company" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="Company">
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Symbol" type="xs:string"/>
<xs:element name="Sector" type="xs:string"/>
<xs:element name="Volume" type="xs:string"/>
<xs:element name="Price" type="tns:share_price"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="share_price">
<xs:sequence>
<xs:element name="Currency" type="xs:string"/>
<xs:element name="Value" type="xs:double"/>
<xs:element name="OpenValue" type="xs:double"/>
<xs:element name="CloseValue" type="xs:double"/>
<xs:element name="HighValue" type="xs:double"/>
<xs:element name="LowValue" type="xs:double"/>
<xs:element name="lastUpdate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Client">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="Username" type="xs:string"/>
<xs:element name="Balance" type="xs:double"/>
<xs:element name="SharesList" type="tns:SymbolVolume" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SymbolVolume">
<xs:sequence>
<xs:element name="Symbol" type="xs:string"/>
<xs:element name="Volume" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>