Shares Brokering Client/src/META-INF/wsdl/localhost_8080/SharesBrokeringSystem/SharesBrokeringSystem.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sharesbrokeringsystem.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sharesbrokeringsystem.me.org/" name="SharesBrokeringSystem">
<types>
<xsd:schema>
<xsd:import namespace="tradeList" schemaLocation="http://localhost:8080/SharesBrokeringSystem/SharesBrokeringSystem?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://sharesbrokeringsystem.me.org/" schemaLocation="http://localhost:8080/SharesBrokeringSystem/SharesBrokeringSystem?xsd=2"/>
</xsd:schema>
</types>
<message name="sellShares">
<part name="parameters" element="tns:sellShares"/>
</message>
<message name="companyList">
<part name="parameters" element="tns:companyList"/>
</message>
<message name="companyListResponse">
<part name="parameters" element="tns:companyListResponse"/>
</message>
<message name="moreCompanyInfo">
<part name="parameters" element="tns:moreCompanyInfo"/>
</message>
<message name="moreCompanyInfoResponse">
<part name="parameters" element="tns:moreCompanyInfoResponse"/>
</message>
<message name="CertificateException">
<part name="fault" element="tns:CertificateException"/>
</message>
<message name="logIn">
<part name="parameters" element="tns:logIn"/>
</message>
<message name="logInResponse">
<part name="parameters" element="tns:logInResponse"/>
</message>
<message name="updateCompanies">
<part name="parameters" element="tns:updateCompanies"/>
</message>
<message name="updateCompaniesResponse">
<part name="parameters" element="tns:updateCompaniesResponse"/>
</message>
<message name="signUp">
<part name="parameters" element="tns:signUp"/>
</message>
<message name="signUpResponse">
<part name="parameters" element="tns:signUpResponse"/>
</message>
<message name="logOut">
<part name="parameters" element="tns:logOut"/>
</message>
<message name="logOutResponse">
<part name="parameters" element="tns:logOutResponse"/>
</message>
<message name="depositAmount">
<part name="parameters" element="tns:depositAmount"/>
</message>
<message name="depositAmountResponse">
<part name="parameters" element="tns:depositAmountResponse"/>
</message>
<message name="buyShares">
<part name="parameters" element="tns:buyShares"/>
</message>
<message name="getCompanies">
<part name="parameters" element="tns:getCompanies"/>
</message>
<message name="getCompaniesResponse">
<part name="parameters" element="tns:getCompaniesResponse"/>
</message>
<portType name="SharesBrokeringSystem">
<operation name="sellShares">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/sellShares" message="tns:sellShares"/>
</operation>
<operation name="companyList">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/companyListRequest" message="tns:companyList"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/companyListResponse" message="tns:companyListResponse"/>
</operation>
<operation name="moreCompanyInfo">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/moreCompanyInfoRequest" message="tns:moreCompanyInfo"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/moreCompanyInfoResponse" message="tns:moreCompanyInfoResponse"/>
<fault message="tns:CertificateException" name="CertificateException" wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/moreCompanyInfo/Fault/CertificateException"/>
</operation>
<operation name="logIn">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/logInRequest" message="tns:logIn"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/logInResponse" message="tns:logInResponse"/>
</operation>
<operation name="updateCompanies">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/updateCompaniesRequest" message="tns:updateCompanies"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/updateCompaniesResponse" message="tns:updateCompaniesResponse"/>
</operation>
<operation name="signUp">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/signUpRequest" message="tns:signUp"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/signUpResponse" message="tns:signUpResponse"/>
</operation>
<operation name="logOut">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/logOutRequest" message="tns:logOut"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/logOutResponse" message="tns:logOutResponse"/>
</operation>
<operation name="depositAmount">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/depositAmountRequest" message="tns:depositAmount"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/depositAmountResponse" message="tns:depositAmountResponse"/>
</operation>
<operation name="buyShares">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/buyShares" message="tns:buyShares"/>
</operation>
<operation name="getCompanies">
<input wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/getCompaniesRequest" message="tns:getCompanies"/>
<output wsam:Action="http://sharesbrokeringsystem.me.org/SharesBrokeringSystem/getCompaniesResponse" message="tns:getCompaniesResponse"/>
</operation>
</portType>
<binding name="SharesBrokeringSystemPortBinding" type="tns:SharesBrokeringSystem">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sellShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="companyList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moreCompanyInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CertificateException">
<soap:fault name="CertificateException" use="literal"/>
</fault>
</operation>
<operation name="logIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCompanies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getCompanies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SharesBrokeringSystem">
<port name="SharesBrokeringSystemPort" binding="tns:SharesBrokeringSystemPortBinding">
<soap:address location="http://localhost:8080/SharesBrokeringSystem/SharesBrokeringSystem"/>
</port>
</service>
</definitions>