Shares Brokering Client/src/META-INF/wsdl/localhost_8080/CurrencyConversion/CurrencyConversion.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://currencyconversion.me.org/" xmlns:ns1="tradeList" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://currencyconversion.me.org/">

<xs:import namespace="tradeList" schemaLocation="http://localhost:8080/CurrencyConversion/CurrencyConversion?xsd=1"/>

<xs:element name="convertAmount" type="tns:convertAmount"/>

<xs:element name="convertAmountResponse" type="tns:convertAmountResponse"/>

<xs:complexType name="convertAmount">
<xs:sequence>
<xs:element name="amount" type="ns1:share_price" minOccurs="0"/>
<xs:element name="to" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertAmountResponse">
<xs:sequence>
<xs:element name="return" type="ns1:share_price" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>